<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Website About Us Page HTML CSS</title>
    <link rel="stylesheet" href="../../static/css/about.css" />
  </head>
  {% include "base/base.html"%}
  <body>
    <section class="about-us">
      <div class="about">
        <img src="../../static/Me/Profile picture.png" class="pic" />
        <div class="text">
          <h3>Gaurav Kumar</h3>
          <h5>Front & backend Developer & <span>Designer</span></h5>
          <p>A talented Software Engineer aspiring to gain a full-time 
            position in a reputed company.A highly motiva
             ted and hardworking individual skilled in Java, SQL, and Python.

            Seeking a position to utilize the gained skills and experience to positively contribute to the company.</p>
          <div class="data">
            <a href="#" class="hire">(+91)(9548831169)</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% include "base/footer.html"%}