<html>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="../../static/css/footer.css">
<body>
  <footer class="footer">

    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="{% url 'index'  %}">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="{% url 'about'  %}">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2025 Gaurav Kumar | All Rights Reserved</p>
    <div class="mapouter"><div class="gmap_canvas"><iframe width="426" height="130" id="gmap_canvas" src="https://maps.google.com/maps?q=solution%20center&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-i.net">123movies-i.net</a><br><style>.mapouter{position:relative;text-align:right;height:130px;width:426px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:130px;width:426px;}</style></div></div>
  </footer>
 
</body>

</html>